vb div {
    border-style: solid;
    padding: 30px;
    border-width: 5px;
    border-color: transparent;
}
.container {
    border-color: transparent;
}
.row {
    border-color: transparent;
}
.list-group-item {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
#h1index {
    text-align: center;
    color: white;
}
#pindex {
    text-align: center;
    color: white;
}
p {
    text-align: center;
}
.jumbotron {
    background-image: url('http://wallpaper-download.net/wallpapers/random-wallpapers-purple-galaxy-background-wallpaper-33303.jpg');
    margin-top: 10%;
}
.panel-body {
    color: black;
}
#imgindex {
    padding: 1%;
    box-shadow: 10px 10px 5px #888888;
}
#imgprojects {
    margin-top: 2%;
    margin-left: 20%;
    box-shadow: 10px 10px 5px #888888;
}
#imgprojects2 {
    margin-top: 5%;
    margin-left: 35%;
    box-shadow: 10px 10px 5px #888888;
}
#h1projects {
    text-align: center;
    margin-left: 19%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#pproject {
    margin-top: 5%;
        margin-left: 15%;
}
#p2projects {
    margin-top: 5%;
    margin-left: 20%;
}
#h1aboutme {
    text-align: center;
    margin-top: 5%;
}
#aboutmeparagraph {
    alignment-adjust: central;
    margin-left: 20%;
}
#imgaboutme {
    margin-left: 20%;
}
#aboutmelink {
    margin-left: 50%;
}
#projectslink {
    margin-left: 23%;
}
#homelink {
    margin-left: 40%;
}
#h1technologies {
    color: black;
    margin-top: 10%;
    margin-left: 40%
}
#ptechnologie {
    color: black;
}
#imgtechnology {
    margin-left: 30%;
}
#img2technology {
    margin-left: 30%;
}
#technologylink {
    margin-left: 25%;
}
#imgcontactme {
    margin-top: 10%;
}
/*turning card */
 .flip-container {
     perspesctive:1000;
 }
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 300px;
	height: 350px;
        border: black;
        box-shadow: 10px 10px 5px #888888;
                    background: seashell;
            border-color: black;
            border-radius: 20px ;
            box-shadow: 10px 10px 5px #888888;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		transform: rotateX(180deg);
	}

	.vertical.flip-container .flipper {
		transform-origin: 100% 213.5px; /* half of height */
	}

	.vertical.flip-container:hover .flipper {
		transform: rotateX(-180deg);
	}
        #front {
            background: seashell;
            border-color: black;
            border-radius: 20px ;
            box-shadow: 10px 10px 5px #888888;
            
        }
        #pfront {
            margin-top: 20;
            color: black;
            font-family: Arial;
        }
        p {
            color: black;
        }
        #firstline {
            color: black;
            margin-top: 20;
        }
        .b1, .b2, .b3, .b4{
display:inline-block;
position: relative;
margin: 45;
float:left;
width:25%;
height:400px;
background-color: transparent;
padding-left: 10;
}
